.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 100px;
  margin: 40px 0;
  padding: 20px 10px;
  background-color: rgb(10, 119, 114);
  border-radius: 8px;
  color: rgb(250, 244, 237);
  font-size: 120%;
  animation: messages-fadeIn 500ms;
}

@keyframes messages-fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.messages span {
  margin: 5px 0;
  text-align: center;
}

.messages_link {
  color: rgb(250, 244, 237);
  border-bottom: 1px dashed rgb(250, 244, 237);
  transition: all 0.3s;
}

.messages_link:hover {
  color: rgb(170, 255, 184);
  border-bottom: 1px dashed rgb(170, 255, 184);
}