.consultation-card-wrapper {
  display: inline-block;
  width: 100px;
  /* height: 134px;
  Убрал условие, т.к. это самый быстрый способ сохранение пропорций этого блока при изменениях вложенного img.
  В принципе можно будет добавить в style рассчетный height*/
  transition: width 0.3s, transform 1s;
}

.consultation-card-wrapper:hover {
  z-index: 8888;
}

/* .ttt {
  background-image: url('https://goo.gl/jwC1mV');
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 25px;
  transform: perspective(2000px)
  rotateY(0deg);
} */

.consultation-card-wrapper__closed {
  transition: transform 1s;
  transform: rotateY(180deg);
  backface-visibility: hidden;

}

.consultation-card-back {
  backface-visibility: hidden;
  transform: rotateY(360deg);
  transition: transform 1s;
}
.consultation-card-back__closed {
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: transform 1s;
}

.consultation-card {
  box-sizing: border-box;
  /* width: 0px; */
  width: 100px;
  /* height: 134px; */
  border: 5px solid transparent;
  border-radius: 5px;
  /* margin: 10px; */
  transition: all 0.3s;
  pointer-events: none; /* Убиваем drag'n'drop и прочие события браузера */
  /* animation: proba 2s; */
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.consultation-card-wrapper:hover .consultation-card {
  border: 5px solid chocolate;
}

.consultation-card-tools {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.2s, top 0.1s;
}

.consultation-card-wrapper:hover .consultation-card-tools {
  top: -38px;
  opacity: 1;
}

.consultation-card-tools span {
  font-size: 180%;
  cursor: pointer;
  user-select: none;
  padding: 0 4px;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.consultation-card-tools span:hover {
  opacity: 1;
}