.consultation-card-wrapper {
  box-sizing: border-box;
  width: 100px;
  font-size: 0;
  /* height: 134px; */
  /* height: 134px;
  Убрал условие, т.к. это самый быстрый способ сохранение пропорций этого блока при изменениях вложенного img.
  В принципе можно будет добавить в style рассчетный height*/
  background: url('/images/cards-item/card-back-side.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 82px 118px;
  box-shadow: inset 0 0 0 5px rgba(210, 105, 30, 0);
  transition: width 0.3s, transform 1s linear;
}

.consultation-card-wrapper:hover, .consultation-card-wrapper__closed:hover {
  z-index: 8888;
}

.consultation-card-wrapper__closed {
  box-sizing: border-box;
  width: 100px;
  height: 134px;
  font-size: 0;
  transform: rotateX(180deg);
  background: url('/images/cards-item/card-back-side.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 82px 118px;
  border-radius: 5px;
  box-shadow: inset 0 0 0 5px rgba(210, 105, 30, 0);
  transition: transform 1s linear;
}

.consultation-card-wrapper__closed:hover {
  border-radius: 5px;
  box-shadow: inset 0 0 0 5px rgba(210, 105, 30, 1);
}

.consultation-card-wrapper .consultation-card {
  opacity: 1;
}

.consultation-card-wrapper__closed .consultation-card {
  opacity: 0;
}

.consultation-card {
  box-sizing: border-box;
  width: 100px;
  border: 5px solid transparent;
  border-radius: 5px;
  transition: opacity 0s 0.5s, width 0.3s;
  pointer-events: none; /* Убиваем drag'n'drop и прочие события браузера */
}

.consultation-card-wrapper:hover .consultation-card {
  border: 5px solid chocolate;
}

.consultation-card-wrapper__closed:hover .consultation-card {
  border: 5px solid chocolate;
}

.consultation-card-tools {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.2s, top 0.1s;
}

.consultation-card-wrapper:hover .consultation-card-tools {
  top: -38px;
  opacity: 1;
}

.consultation-card-tools span {
  font-size: 180%;
  cursor: pointer;
  user-select: none;
  padding: 0 4px;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.consultation-card-tools span:hover {
  opacity: 1;
}