.consultation-cards {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 180px;
  padding: 15px 15px 20px 15px;
  /* border-top: 1px solid cadetblue; */
}

.consultation_low .consultation-cards {
  display: none;
}

.consultation-cards__none {
  display: none;
}

.consultation-cards-center {
  position: relative;
  flex-grow: 1;
  border-top: 1px solid rgb(196, 196, 196);
  border-bottom: 1px solid rgb(196, 196, 196);

                      animation: proba 1.2s;

}

@keyframes proba {
  0% {opacity: 0;}
  40% {opacity: 0;}
  100% {opacity: 1;}
}

.consultation-cards-center-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  display: flex;
  align-items: center;
}

/* .consultation_low .consultation-card {
  display: none;
} */

.consultation-cards-tools {
  box-sizing: border-box;
  width: 110px;
  height: 100%;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 4px;
}

.consultation-cards-tools span {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.consultation-cards-tools span:hover {
  opacity: 1;
}

.consultation-cards-tools-item {
  box-sizing: border-box;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.consultation-cards-tools-item span{
  text-align: center;
  cursor: pointer;
}

.consultation-cards-tools-divider {
  border-top: 1px solid rgb(196, 196, 196);
}


.consultation-cards-leftBtn, .consultation-cards-rightBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  font-size: 350%;
  cursor: pointer;
  user-select: none;
  border: 1px solid rgb(196, 196, 196);

        animation: proba 1.2s;

}

.consultation-cards-leftBtn {
  margin: 0 0 0 18px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}
.consultation-cards-rightBtn {
  margin-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
}

.consultation-cards-leftBtn span, .consultation-cards-rightBtn span {
  opacity: 0.4;
  transition: opacity 0.4s;
}

.consultation-cards-leftBtn span:hover, .consultation-cards-rightBtn span:hover {
  opacity: 1;
}