.consultation-cards {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 150px;
  padding: 10px 10px;
  border-top: 1px solid cadetblue;
}

.consultation_low .consultation-cards {
  display: none;
}

.consultation-cards__none {
  display: none;
}

.consultation-cards-center {
  position: relative;
  flex-grow: 1;
}

.consultation-cards-center-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
}

.consultation-card {
  display: inline-block;
  box-sizing: border-box;
  width: 100px;
  border: 5px solid transparent;
  border-radius: 5px;
  /* margin: 10px; */
  transition: width 0.4s;
}

.consultation-card:hover {
  border: 5px solid chocolate;
  z-index: 9999;
}

.consultation_low .consultation-card {
  display: none;
}

.consultation-cards-tools {
  width: 80px;
  height: 100%;
  background-color: chocolate;
}


.consultation-cards-leftBtn, .consultation-cards-rightBtn {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: 50% 40%;
  transition: all 0.1s;
  cursor: pointer;
  background-image: url('../../../images/btn85.png');
}

.consultation-cards-leftBtn {
  transform: rotate(-90deg);
}
.consultation-cards-rightBtn {
  transform: rotate(90deg);
}