.consultation-field {
  flex-grow: 1;
}

.consultation-set-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.consultation-set-cards__none {
  display: none;
}