.consultation-field {
  flex-grow: 1;
}

.consultation-cards {
  display: flex;
  height: 150px;
  padding: 5px 10px;
  border-top: 1px solid cadetblue;
}

.consultation-cards-leftBtn, .consultation-cards-rightBtn {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: 50% 40%;
  transition: all 0.1s;
  cursor: pointer;
  background-image: url('../../images/btn85.png');
}

.consultation-cards-leftBtn {
  transform: rotate(-90deg);
}
.consultation-cards-rightBtn {
  transform: rotate(90deg);
}


.consultation-cards-center {
  border: 1px solid grey;
  border-radius: 5px;
  flex-grow: 1;
}