.consultation_large {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  animation: large-fadeIn 1000ms;
}

@keyframes large-fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.consultation_low {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  animation: low-fadeIn 1000ms;
}

@keyframes low-fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.consultation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
  padding: 0 15px;
  position: relative;
}

.consultation_low .consultation-header {
  display: none;
}

.consultation-header-buttons {
  height: 100%;
}

.consultation-header-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  height: 100%;
  min-width: 160px;
  transition: background-color 0.3s;
}

.consultation-header-button:hover {
  background-color: #f5deb3;
}

.consultation-header-closeButton {
  padding: 5px;
  cursor: pointer;
  font-size: 150%;
}

.consultation-header-setCards-wrapper {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  min-height: calc(100vh - 50px);
}

.consultation-header-setCards {
  display: flex;
  margin-left: 15px;
  flex-wrap: wrap;
  background-color: wheat;
  width: 90%;
  border-bottom-right-radius: 10px;
}