.contacts-list-wrapper {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  animation: contacts_fadeIn 600ms;   /*  keyframes in contacts-body.css  */
}

.contacts-list-item {
  margin: 5px 0;
  padding: 4px 6px 6px 6px;
  border-bottom: 1px solid rgb(182, 182, 182);
  cursor: pointer;
  transition: all 0.1s;
  user-select: none;
}

.contacts-list-item:hover {
  font-weight: bold;
}

.contacts-list-item__active {
  font-weight: bold;
}