.confirm_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: confirm-fadeIn 0.5s;
}

@keyframes confirm-fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.confirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 50%;
  height: 50%;
  padding: 10px 15px;
  background-color: rgb(224, 165, 93);
  border-radius: 10px;
}

.confirm_message {
  padding: 0 30px;
  font-size: 130%;
  margin-bottom: 30px;
}

.confirm_buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 100px;
}

.confirm_button {
  min-width: 110px;
  font-size: 140%;
  padding: 15px;
  border-radius: 5px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.confirm_button:hover {
  opacity: 1;
}